.btn-container {
  display: flex;
  margin-top: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
  width: 100%;
}

.btn-layout {
  height: 30px;
  width: 120px;
  background-color: lightblue;
  color: aliceblue;
  border-radius: 5px;
}

.module-card {
  margin: 5px;
}

.cat-lbl {
  padding-left: 5px;
  padding-right: 10px;
  /* margin-left: 5px;
    margin-right: 10px; */
  font-weight: bold;
  font-size: 0.9rem;
}

.course-card-src {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 200px;
  overflow-y: hidden;
  justify-content: Left;
  margin-bottom: 1rem;
  margin-left: 1%;
  /* min-width: 100%; */
  padding: 0.5rem;
  position: relative;
  /* width: 10rem; */
}

.course-btn-layout {
  background-color: black;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  height: 30px;
  margin: 1rem;
  width: 120px;
}

/* .course-modules{
    min-width: 50%;
} */

.desc {
  display: flex;
  align-items: center;
  align-items: left;
  margin-bottom: 8px;
}

.desc .student {
  display: flex;
  align-items: center;
  align-items: left;
  flex: 1;
  /* min-width: 100%; */
  margin-bottom: 8px;
}

.info-display {
  display: flex;
  color: var(--primary-color);
  overflow-y: hidden;
}

.title-card {
  align-items: flex-start;
  color: var(--primary-color);
  display: flex;
  font-weight: 800;
  font-size: 1.8rem;
  font-style: normal;
  margin: 5px;
  text-align: left;
}

.spec-lbl {
  padding-right: 5px;
  /* margin-right: 5px; */
  /* font-weight: lighter; */
  font-size: 0.9rem;
}
