@import url("./CourseCard.css");
@import url("./LoginPage.css");
@import url("./LogoutBtn.css");
@import url("./UserListPage.css");
@import url("./ModuleCard.css");
@import url("./MyCoursePage.css");
@import url("./StudentCard.css");
@import url("./TeacherPage.css");

* {
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
}

.g-container {
  padding-inline: 4rem;
}