#login-page {
  align-items: center;
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url(src/assets/background_pic.jpg); 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#password{

  border-color: darkgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  height: 30px;
  width: 250px;
}

#username{

  border-color: darkgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  height: 30px;
  width: 250px;
}


.forgot{

  margin-bottom: 3rem;
}

.h1{

  font-size: 4rem;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.lbl{

  margin-top: 2rem;
}

.login-form {
    fieldset {
      align-items: flex-start;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

.sign_in{

  background-color: lightblue;
  border-color: lightblue;
  border-radius: 5px;
  color: black;
  font-size: 1rem;  
  height: 35px;
  margin-bottom: 5rem;
  margin-top: 2.5rem;
  width: 250px;
}
