#login-page {
  align-items: center;
  /* background-repeat:no-repeat;
  background-size:cover;
  background-image: url(src/assets/background_pic2.jpg); */
  justify-content: center;
  background-color: var(--secondary-color); 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

#password{

  border-color: darkgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  height: 1.9rem;
  margin-left: 0.63rem;
  width: 15.6rem;
}

#username{

  border-color: darkgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  height: 1.9rem;
  margin-left: 0.63rem;
  width: 15.6rem;
}


.forgot{

  margin-bottom: 3rem;
}

.h1{

  color:var(--text-color);
  font-size: 4rem;
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.hdr4{

  color:var(--text-color);
  font-weight:bold;
  margin-top:0.5rem;

}



.lbl{

  color:var(--text-color);
  margin-left: 0.63rem;
  margin-top: 2rem;
}

.lg-lbl{

  display:flex;
  flex-direction: column;
  align-content: center;


}

.login-form {
    fieldset {
      align-items: center;
      background-color: var(--primary-color);
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 16.9rem;
    }
  }

.sign_in{

  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;  
  height: 35px;
  margin-bottom: 5rem;
  margin-left: 0.63rem;
  margin-top: 2.5rem;
  width: 15.6rem;
}
