.card-src{
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    border: 0;
    position: relative;
    width: 90%;
    min-width: 250px;
    height: 300px;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: Left;
}
.title-card-src {
    margin: 5px;
    font-weight: 800;
    font-size: xx-large;
    font-style: normal;
    text-align: left;
}
.desc{
    display: flex;
    align-items: center;
    align-items: left;
    margin-bottom: 8px;
}
.cat-lbl{
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;
}
spec-lbl{
   margin-right: 5px;
   font-weight: lighter;
}
.btn-container{
    margin-top: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}
.btn-layout {
    height: 30px;
    width: 120px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

.module-card{
    color:var(--primary-color);
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
