.card-src {
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  border: 0;
  position: relative;
  width: 100%; 
  min-width: 300px;
  height: 235px;  /* Keep as is or adjust */
  background-color: whitesmoke;
  margin-bottom: 1rem;
  margin-left: 0; /* Centering the card in its column */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changed from Left to flex-start for better CSS */
}

.title-card-st{
  overflow: hidden;  /* Prevent overflow */
  text-overflow: ellipsis;  /* Use ellipsis if text overflows */
  white-space: nowrap;  /* Prevents wrapping; you can adjust this as needed */
  width: 100%;  /* Ensure text takes full width */
}

.desc{
  display: flex;
  justify-content: left;
  align-items: left;
  padding-top: 1pz;
  margin-bottom: 8px;
  height: 22px;
}
.cat-lbl{
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
  height: 20px;
  width: 95px;
}
.spec-lbl{
 margin-right: 5px;
 height: 20px;
 font-weight: light;
 
}
.btn-layout {
  height: 30px;
  width: 120px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.modal-content1 {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.btn-cont{
  margin-bottom: 15px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.title-card-src {
  font-size: 1.25rem; /* Adjust font size */
  font-weight: bold; /* Bold title */
}

.desc {
  margin: 10px 0; /* Spacing between description elements */
}
.btn-container{
  justify-content: center;
  text-align: center;
  display: flex;
}
/* HTML: <div class="loader"></div> */
.loader {
width: 65px;
aspect-ratio: 1;
position: relative;
}
.loader:before,
.loader:after {
content: "";
position: absolute;
border-radius: 50px;
box-shadow: 0 0 0 3px inset #fff;
animation: l4 2.5s infinite;
}
.loader:after {
animation-delay: -1.25s;
}
@keyframes l4 {
0% {
  inset: 0 35px 35px 0;
}
12.5% {
  inset: 0 35px 0 0;
}
25% {
  inset: 35px 35px 0 0;
}
37.5% {
  inset: 35px 0 0 0;
}
50% {
  inset: 35px 0 0 35px;
}
62.5% {
  inset: 0 0 0 35px;
}
75% {
  inset: 0 0 35px 35px;
}
87.5% {
  inset: 0 0 35px 0;
}
100% {
  inset: 0 35px 35px 0;
}
}
