.home-section {
  align-items: center;
  background-color: var(--secondary-color); /* Main background color */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  overflow: auto; /* Allows scrolling if needed */
  width: 100%;
}

.title {
  color: var(--text-color);
  font-size: 56px;
  font-weight: bolder;
  margin-top: 1px;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

.sub-tit {
  color: var(--text-color);
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 25px;
  text-align: center;
}

.doc-btn-container {
  margin-bottom: 3rem;
  justify-content: left;
  width: 1040px;
  margin-left: 5px;
  min-width: 300px;
}

.section-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  width: 100%; /* Full width */
  margin-bottom: 4.5rem;
  flex-wrap: wrap; /* Allows wrapping of children */
}

.module-section {
  width: 40%;
  height: auto; /* Adjusted to fit content */
  margin-left: 5%; /* Spacing */
  margin-bottom: 1rem; /* Space between module sections */
}

.students-section {
  width: 40%;
  height: auto; /* Adjusted to fit content */
  margin-right: 5%; /* Spacing */
  margin-left: 10%;
  margin-bottom: 1rem; /* Space between student sections */
}
.module-card{
  width: auto;
  height: auto;
}

/* Optional: Remove additional background if applied */
.student-list-section,
.module-list-section {
  background-color: transparent; /* Ensure no extra background */
}
