.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    text-align: center;
    width: 100%;
    font-weight:bolder;
    font-size: 56px;
    margin-top: 1px;
    margin-bottom: 3rem;
}

.sub-tit{
    font-weight:bold;
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
}

.doc-btn-contanier{
    margin-bottom: 3rem;
    justify-content: left;
    width: 1040px;
    margin-left: 5px;
    min-width: 300;
}

.section-container {
    display: flex;
    justify-content: baseline;
    width: 1200px;
    min-width: 300;
    margin-bottom: 4.5rem;
}

.section-container .module-section {
    width: 40%;
    height: 90%;
    margin-left: 5%;
    justify-content: baseline;
}

.section-container .students-section {
    width: 40%;
    height: 90%;
    margin-right: 5%;
    margin-left: 10%;
    justify-content: baseline;
}
