.card-st{
  background-color: whitesmoke;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-left: 5%;
  min-width: 250px;
  padding: 0.5rem;
  position: relative;
  width: 90%;
}

.title-card-style{
  margin: 5px;
  font-weight: 800;
  font-size: 25px;
  font-style: normal;
  text-align: left;
  padding-bottom: 10px;
}

.cat-lbl-e{
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
  height: 20px;
  width: 55px;
}
