.contain {
  margin: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  background-color: #1e3e62;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e3e62;
}

.sidebar {
  display: flex;
  /* flex-direction: row; */
  background-color: #f9f9f9;
  justify-content: center;
  border-right: 1px solid #ccc;
  height: min-content;
  margin-top: 63px;
}

.search-input {
  display: block;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

.filter {
  margin: 20px;
}

.filter label {
  margin-right: 10px;
}

.main-content {
  flex: 4;
  padding: 20px;
}

.user-list-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.user-list {
  background-color: #f9f0ff;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.user-details {
  display: flex;
  justify-content: space-between;
}
.btn.create {
  flex: 1;
  /* margin-top: 64px; */
}

.create-user-button {
  background-color: black;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 64px;
  margin-right: 10px;
}
